# Build directories
/build*/
/out*/
/cmake-build*/

# LLVM build products (when building in-tree)
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/compile_commands.json
**/Testing/
**/CTestTestfile.cmake
**/.ninja_deps
**/.ninja_log
**/build.ninja

# IDE / editor
.vs/
.vscode/
*.user
*.suo
*.VC.db
*.VC.opendb
.idea/

# OS
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc

